<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <application
        android:name=".PhoneSyncApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_connection_adaptive"
        android:label="Phone Sync USB-C"
        android:roundIcon="@drawable/ic_connection_adaptive"
        android:supportsRtl="true"
        android:theme="@style/Theme.PhoneSyncUsbC">
        <activity
            android:name=".MainActivity"
            android:label="Phone Sync USB-C"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".PhoneSyncNotificationListenerService"
            android:exported="true"
            android:label="Phone Sync notification backup"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>
</manifest>